<!-- {% load static bulma_tags %} -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slicr</title>
    <link rel="shortcut icon" href="{%static 'slicr/favicon.png' %}" type="image/x-icon"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{%static 'slicr/style.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154496985-1"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-154496985-1');
   </script>

<script data-ad-client="ca-pub-7051622238255761" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>


</head>

<body>
    <section class="hero is-white is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <!-- <img src="{%static 'slicr/image.png' %}" alt="Logo"> -->
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="/">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span> -->
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" target="_blank" href="https://github.com/deezer/spleeter">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Powered by</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-black is-outlined" href="/about">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>About us</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            <img src="{%static 'slicr/image.png' %}" alt="Logo">
                        </h1>
                        <h2 class="subtitle">Apply pre-trained neural network models to split a song into different tracks. It takes approximately 2 min.</h2>
                        <div class="box">

                            {% block content %}
                            {% endblock %}
                               
                        </div>
                    </div>
                </div>
            </div>

    </section>
    <script async type="text/javascript" src="{%static 'slicr/script.js' %}"></script>
</body>

</html>
