<!-- {% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
  {% block css %}
    {% font_awesome %}
    <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
</head>
<body>

{% block header %}
<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-burguer">
          <a class="navbar-item" href="">
            <img src="{% static 'slicr/image.png' %}" alt="Slicer" width="112" height="80">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>
{% endblock header %}

{% block hero %}{% endblock hero %}

<section class="section">
  <div class="container">
    {% block messages %}
      {% if messages %}
        <div class="messages columns is-desktop">
          <div class="column is-4 is-offset-4">
            {% for message in messages %}
              <div class="message {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                <div class="message-body">{{ message }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock messages %}

    {% block content_area %}
      {% block content_title %}{% endblock content_title %}
      {% block content %}{% endblock content %}
    {% endblock content_area %}
  </div>
</section>

{% block modal %}{% endblock modal %}

{% block footer %}
 
{% endblock footer %}

{% block javascript %}
  {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
</body>
</html>
 -->
 <!DOCTYPE html>
 <html>
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Slicer: vocals in a minute</title>
     <link rel="shortcut icon" href="{%static 'slicr/favicon.png' %}" type="image/x-icon"> 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
     <!-- Bulma Version 0.8.x-->
     <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
     <link rel="stylesheet" type="text/css" href="{%static 'slicr/style.css' %}">
 </head>
 
 <body>
     <section class="hero is-white is-fullheight">
         <div class="hero-head">
             <nav class="navbar">
                 <div class="container">
                     <div class="navbar-brand">
                         <a class="navbar-item" href="../">
                             <!-- <img src="{%static 'slicr/image.png' %}" alt="Logo"> -->
                         </a>
                         <span class="navbar-burger burger" data-target="navbarMenu">
                             <span></span>
                             <span></span>
                             <span></span>
                         </span>
                     </div>
                     <div id="navbarMenu" class="navbar-menu">
                         <div class="navbar-end">
                             <span class="navbar-item">
                                 <a class="button is-black is-outlined" href="">
                                     <span class="icon">
                                         <i class="fa fa-home"></i>
                                     </span>
                                     <span>Home</span>
                                 </a>
                             </span>
                             <!-- <span class="navbar-item">
                                 <a class="button is-white is-outlined" href="#">
                                     <span class="icon">
                                         <i class="fa fa-superpowers"></i>
                                     </span>
                                     <span>Examples</span> -->
                                 </a>
                             </span>
                             <span class="navbar-item">
                                 <a class="button is-black is-outlined" href="https://github.com/deezer/spleeter">
                                     <span class="icon">
                                         <i class="fa fa-book"></i>
                                     </span>
                                     <span>How does it work?</span>
                                 </a>
                             </span>
                             <span class="navbar-item">
                                 <a class="button is-black is-outlined" href="https://github.com/jsameijeiras/slicr">
                                     <span class="icon">
                                         <i class="fa fa-github"></i>
                                     </span>
                                     <span>View Source</span>
                                 </a>
                             </span>
                         </div>
                     </div>
                 </div>
             </nav>
             </div>
 
             <div class="hero-body">
                 <div class="container has-text-centered">
                     <div class="column is-6 is-offset-3">
                         <h1 class="title">
                                <img src="{%static 'slicr/image.png' %}" alt="Logo">
                         </h1>
                         <h2 class="subtitle">
                             The solution for musicians around the world that want to create better covers, mashups and remixes using the best state of art of AI.
                         </h2>
                         <div class="box">
                                {% if print_form %}
                                <div class="container">
                                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                        <div id="file-js-example" class="file is-centered has-name">
                                            <label class="file-label">
                                                <input class="file-input" type="file" name="song" accept=".mp3,audio/*">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fas fa-upload"></i>
                                                    </span>
                                                    <span class="file-label">
                                                        Choose a file…
                                                    </span>
                                                </span>
                                                <span class="file-name"></span>
                                            </label>
                                        </div>  
                                        <button disabled id="submit-button" type="submit" value="Submit" class="button is-dark">Slice your song!</button>
                                    </form>
                                </div>
                                {% else %}
                                    {% for link in download_links %}
                                    <div class = "container">
                                      <a href="{{ link.url }}" download class="button is-light">{{ link.name }}</a>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                    </div>
                                </form>
                         </div>
                     </div>
                 </div>
             </div>
 
     </section>
     <script async type="text/javascript" src="{%static 'slicr/script.js' %}"></script>
 </body>
 
 </html>