<!-- {% extends './base.html' %}
{% block content %}

{% if print_form %}
<div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="file is-centered is-boxed">
            <label class="file-label">
                <input class="file-input" type="file" name="song">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
        <span >


            </span>
              
        <div class="container">
            <button type="submit" value="Submit" class="button is-dark">
            press to slice!
        </div>

        <a href="{%static 'slicr/image.png' %}" class="button is-outlined is-small">
            <span class="icon is-small">
                <i class="fa fa-power-off"></i>
            </span>
        </a>
    </form>
</div>
{% else %}
    {% for link in download_links %}
    <div class = "container">
      <a href="{{ link.url }}" download class="button is-light">{{ link.name }}</a>
      </div>
    {% endfor %}
{% endif %}

{% endblock content %} -->